.card {
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card:hover {
  transform: translateY(-5px);
}

.card div {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  margin: 5px 0;
}

.card div:first-of-type {
  font-size: 16px;
  font-weight: bold;
  color: #352e2b;
}

.card .is-owner-deskr {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.card .text-before-pink-name {
  font-weight: bold;
  color: #f69e85;
}

.card .custumerNameSpan {
  font-weight: bold;
  color: #000;
}
.card .name {
  font-size: 25px;
  background-color: rgb(245, 242, 239);
  color: #140906;
  margin-top: 10px;
}

.card .fragrance,
.card .scent,
.card .size,
.card .price {
  font-size: 17px;
  margin-top: 10px;
}
.details-btn {
  text-decoration: none;
  color: #333;
  background-color: #fab09b;
  border-radius: 10px;
  padding: 10px 15px;
  margin-top: 10px;
}
.details-btn:hover {
  color: #000;
  cursor: pointer;
}

/* .edit-delete-btns {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-top: 10px;
  padding: 10px;
  gap: 5px;
}

.edit-btn,
.delete-btn {
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.edit-btn {
  background-color: #f8edd6;
}

.delete-btn {
  background-color: #edec9e;
} */
