.single-destination {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.destination-wrapper {
  position: relative;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.destination-content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.destination-img {
  width: 100%;
  max-width: 1200px;
  max-height: 1000px;
  height: 90%;
  display: block;
  border-radius: 10px;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
}

.text-overlay h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.text-overlay p {
  font-size: 1.2rem;
}

.perfume-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

.perfume-content {
  display: flex;
  align-items: center;
  font-size: 23px;
  gap: 20px;
  width: 100%;
}

.text-content {
  flex: 1;
}

.text-content h2 {
  font-size: 35px;
  margin-bottom: 35px;
}

.perfume-img-destination {
  width: 400px;
  height: auto;
  border-radius: 10px;
}
