.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  border: 1px solid #fffcf5;
  background: white;
  color: rgb(15, 4, 0);
  font-weight: 800;
}

.nav-options,
.profile-options {
  flex: 1;
  display: flex;
  list-style-type: none;
  gap: 50px;
  font-size: 25px;
}
.profile-options {
  justify-content: end;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  background-color: rgb(252, 246, 240);
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #91501c6e;
}
.nav-link.active {
  font-weight: bold;
  color: #d78e64;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-left: 150px;
}

.burger-menu {
  display: none;
  cursor: pointer;
}
.mobile-profile-options {
  display: none;
}

.mobile-nav-options {
  display: none;
}

@media (max-width: 1600px) {
  .nav-link {
    font-size: 17px;
  }
  .nav-options,
  .profile-options {
    gap: 10px;
  }
}

@media (max-width: 1230px) {
  .nav-options,
  .profile-options {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    margin-left: unset;
  }
}

@media (max-width: 720px) {
  .navbar {
    width: 100%;
    padding: 0 10px;
  }

  .nav-options,
  .profile-options {
    display: none;
  }
  .navbar {
    margin: 0 auto;
  }

  .burger-menu {
    display: block;
  }

  .mobile-profile-options,
  .mobile-nav-options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    height: 500px;
    z-index: 1;
  }

  .mobile-profile-options .nav-link {
    position: relative;
    top: 0px;
  }

  .mobile-nav-options .nav-link {
    position: relative;
    top: 88px;
  }
}
