.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  border: 1px solid #fffcf5;
  background: white;
  color: rgb(240, 131, 200);
  font-weight: 800;
}

.nav-options {
  display: flex;
  list-style-type: none;
  gap: 50px;
  font-size: 25px;
}

.profile-options {
  display: flex;
  list-style-type: none;
  gap: 50px;
  font-size: 25px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  background-color: rgb(252, 240, 251);
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #514f506e;
}

.nav-link.active {
  font-weight: bold;
  color: #d764b4;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 10px;
}
